nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 0.25em 0;
    border: 1px solid black;
    width: max-content;
    padding: 0.25em;
    border-radius: 0.25em;
}

nav ul li:hover {
    background-color: orange;
}

nav ul li:active {
    background-color: orangered;
}