:root {
    --color-a1: #8ecae6;
    --color-a2: #219ebc;
    --color-a3: #023047;
    --color-a4: #ffb703;
    --color-a5: #fb8500;
}

* {
    box-sizing: border-box;
    user-select: none;
    font-family: Rubik;
}

body {
    background-color: var(--color-a3);
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-container {
    padding: 0 1em;
    border-radius: 1em;
    background-color: var(--color-a2);
    height: 95vh;
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    justify-items: center;
}

.app-container > * {
    overflow-y: auto;
}

input[type="text"], select {
    font-size: 1.1em;
}