* {
    box-sizing: border-box;
    user-select: none;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-container {
    margin: 0 1em;
    padding: 0 1em;
    border-radius: 1em;
    background-color: rgb(220, 220, 220);
    height: 95vh;
    max-width: max-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    justify-items: center;
}

.app-container > * {
    max-width: 1024px;
}

header {
    background-color: var(--light-green);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav ul {
    padding: 0;
    margin-inline-start: 1.5rem;
    display: flex;
    gap: 0.75rem;
    list-style: none;
}

nav ul li {
    width: max-content;
    padding: 0.5em;
    background-color: rgb(150, 150, 150);
    color: rgb(255, 255, 255);
    border-radius: 0.75em;
    transition: 200ms;
}

nav ul li:hover {
    background-color: rgb(180, 180, 180);
    color: rgb(0, 0, 0);
}

.main-gallery {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.gallery-layout {
    background-color: rgb(240, 240, 240);
    padding: 0.5rem;
    border-radius: 1rem;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
}

.gallery-layout .image-container {
    width: 10rem;
    height: 10rem;
}

.gallery-layout .image-container img {
    border-radius: 0.5rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-editor {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 1rem;
}

canvas {
    background-color: rgb(255, 255, 255);
    border-radius: 1em;
}

.controls {
    width: 100%;
    height: 100%;
    padding: 0.75em;
    background-color: rgb(240, 240, 240);
    border-radius: 1em;
}

.control-row {
    margin: 0.75em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25em;
}

.control-row button {
    width: max-content
}

.main-footer > *{
    margin: 1em;
}

.main-about {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.75em;
    border-radius: 1em;
}

@media (width <= 900px) {
    body:has(.main-gallery.hidden) {
        height: auto;
    }

    .app-container:has(.main-gallery.hidden) {
        margin: 1rem;
        height: auto;
    }

    .main-editor:not(.hidden) {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 1rem;
    }
}

.hidden {
    display: none;
}